body{
  background-image: linear-gradient(black, gray);
  color: white;
  
}
.movie-blog > .row{

  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 30vh;

}

.blog-container{
  display: flex;
  flex-direction:row;
  height: 70vh;
  width: 90%;
}

.posters img {
  width: 200px;
  height: 350px;
  object-fit: cover;
}

.posters{
  display: flex;
  flex-direction:row;
}
